<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Andrea Blog</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<header>
    <nav
            class="navbar is-brown-background"
            role="navigation"
            aria-label="main navigation"
    >
        <a class="navbar-item has-text-white" href="/">Home</a>
        {{#if loggedIn}}
            <a class="navbar-item has-text-white" href="/dashboard">Dashboard</a>
            <a id="logout" class="navbar-item has-text-white">Logout</a>
        {{else}}
            <a class="navbar-item has-text-white" href="/login">Login</a>
            <a class="navbar-item has-text-white" href="/signup">Sign Up</a>
        {{/if}}
    </nav>
    <div class="logo-container is-brown-background">
        <span class="tag is-success py-3 mg-large" id="span_title">
            <b>The Tech Blog</b>
        </span>
    </div>
</header>

<body>
<main class="container container-fluid mt-5">
    <!-- Render the contents of the sub layout here -->
    {{{body}}}
</main>
<footer>

</footer>

{{#if loggedIn}}
    <script src="/js/logout.js"></script>
{{/if}}
</body>

</html>
