<div class="card">
    <div class="card-image">
        <figure class="image">
            <img src="https://picsum.photos/600/100" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="https://picsum.photos/300/300" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">Publisher</p>
                <p class="subtitle is-6">@{{ post.user.username }}</p>
            </div>
        </div>

        <div class="content">
            {{ post.content }}
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
    </div>
</div>
<hr>
<h4 class="title is-4">Comment Section:</h4>
{{# each post.comments }}
    <div class="card">
        <div class="card-content">
            <div class="content">
                {{ this.comment }}
                <br>
                -<strong>{{ this.user.username }}</strong>
            </div>
        </div>
    </div>
{{/ each }}

<p></p>
