<nav class="panel is-justify-content-space-around p-6">
    <p class="panel-heading is-brown-background">
        Sign up
    </p>
    <div class="field">
        <p class="control has-icons-left has-icons-right py-3">
            <input class="input" type="email" placeholder="Email">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Password">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <a href="/login">Login instead</a>
        <p class="control">
            <button class="button is-success signup-class">
                Sign up
            </button>
        </p>
    </div>
</nav>