<p class="panel-heading is-brown-background">
    Sign up
</p>
<form action="" class="signup-form">
    <div class="field">
        <p class="control has-icons-left has-icons-right py-3">
            <input id="username-input" class="input" type="text" placeholder="Username">
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left has-icons-right py-3">
            <input id="email-input" class="input" type="email" placeholder="Email">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input id="password-input" class="input" type="password" placeholder="Password">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <a href="/login">Login instead</a>
        <p class="control">
            <button class="button is-success signup-class">
                Sign up
            </button>
        </p>
    </div>
</form>
<script src="./js/login.js"></script>
